/* 
 * Bases on Bootstrap grid  example
 * https://getbootstrap.com/docs/5.0/layout/containers/
*/

.container {
  width: 100%;
  padding-inline: var(--sp-lg);
}

.container {
  width: 100%;
  padding-right: var(0.75rem);
  padding-left: var(0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
