#education .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
  gap: var(--sp-md);
}

@media (min-width: 576px) {
  #education .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
