.wrapper {
	display: flex;
	flex-wrap: wrap;
	color: #414149;
}

.wrapper .side-content {
	min-width: 300px;
	height: 100%;
	border-right: 1px solid rgb(240, 240, 240);
}

.text-soft {
	color: rgb(138, 136, 136);
}

.text-md {
	font-size: 15px;
}

.display-6 {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.2;
	display: block;
}

#table-contacts td {
	padding: 5px;
	font-size: 15px;
}

#table-contacts td:nth-child(1) {
	color: #ccc;
}

#table-contacts td:nth-child(2) {
	color: rgb(138, 136, 136);
}