/* Top bar */

#topbar {
  background-color: inherit;
  z-index: 100;
  /* margin-bottom: 1rem; */
}

.topbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  padding: 1rem;
  background-color: inherit;
  /* margin-bottom: 1rem; */
}

#topbar nav {
  flex-basis: 100%;

  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  padding-inline-start: 1rem;
  font: var(--small);
}

#topbar nav.show {
  display: flex;
}

#topbar nav a {
  /* padding-bottom: 0.5rem; */
  border-bottom: 2px solid transparent;
}

#topbar .logo {
  width: 70px;
  height: 40px;

  padding: 0.25em;

  color: var(--primary);
  font-weight: 600;

  background-color: var(--background-alternative);
  border-radius: 4px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#topbar.sticky {
  position: sticky;
  top: 0;
}

#topbar .btn-toggler {
  cursor: pointer;
  align-self: flex-end;

  /* height: 40px; */
  padding: 0.7rem;

  color: var(--primary);
  background-color: var(--background-alternative);
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
}

#topbar .btn-toggler:hover {
  border-color: var(--primary) !important;
}

@media (min-width: 576px) {
  #topbar .btn-toggler {
    display: none;
  }

  #topbar nav {
    display: flex;
    flex-basis: auto;

    flex-direction: row;
    align-items: center;
  }
}
